.gradient-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px; /* Reduced padding */
  background-image: linear-gradient(to right, 
    #3499CD 0%, 
    #3485CD 29%, 
    #354DCD 59%, 
    #26256C 100%);
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.question-view {
  padding: 0.5rem; /* Reduced padding */
}

.question {
  margin: 0.25rem 0 0.25rem; /* Reduced margin */
  font-size: 1.4rem;
  margin-bottom: 1px;
}

.answer-input {
  width: 100%;
  padding: 0.5rem; /* Reduced padding */
  margin-top: 1px;
  margin-bottom: 0.5rem; /* Reduced margin */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-athlete-button-container {
  padding: 0 0.5rem 0.5rem; /* Reduced padding */
  display: flex;
  justify-content: center;
}

.add-athlete-button {
  background-color: #354CCD;
  color: white;
  padding: 0.75rem 2rem; /* Reduced padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%; /* Make the button full width */
  border-radius: 10px;
  margin-bottom: 3rem;
  position: relative;
}

.add-athlete-button:disabled {
  background-color: #ccc; /* Change the color when disabled */
  cursor: not-allowed; /* Change the cursor when disabled */
}
