.gradient-header {
  background: linear-gradient(to right, #3499cd, #3485cd, #354dcd, #26256c);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.question-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* creates two columns */
  grid-gap: 20px; /* space between the cards */
  padding: 20px;
}

.athlete-card {
  position: relative;
  width: 20%; /* take full width of the column */
  height: 0; /* adjusted height calculation */
  padding-bottom: 100%; /* aspect ratio to 1:1 */
  overflow: hidden;
  border-radius: 10px;
}

.athlete-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;
}

ion-card {
  --ion-text-color: white; /* This sets the default text color for content within the card */
}

ion-card-title, ion-card-subtitle {
  --color: white; /* Ensuring the variable is set for titles and subtitles specifically */
}





.navigation-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.back-button {
  background-color: #ccc;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-athlete-button-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.add-athlete-button {
  background-color: #3499cd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
