/* ProfileView.css */
.profile-container .gradient-header {
    background-color: white; /* Set header background to white */
  }
  
  .profile-container .gradient-header .logo {
    color: black; /* Set text color to black */
  }
  
  .profile-container .question-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the container */
    padding: 20px; /* Add padding for better spacing */
  }
  
  .profile-container .question-view .question {
    font-weight: bold; /* Make labels bold */
    margin-bottom: 5px; /* Add margin below labels */
  }
  
  .profile-container .question-view .answer-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Make input boxes fill the width */
    max-width: 300px; /* Limit input box width */
  }
  
  .profile-container .add-athlete-button {
    background-color: #354ccd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Adjust the margin as needed */
  }