.gradient-header {
    background: linear-gradient(to right, #3499cd, #3485cd, #354dcd, #26256c);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .workout-builder-content {
    padding: 20px;
  }
  
  .assigned-workouts-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .athlete-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  
  .athlete-card {
    position: relative;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 100%;
    height: 100px; /* Adjust height to fit content */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .athlete-info {
    padding: 10px;
  }
  
  .athlete-name {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
  }
  
  .athlete-affiliation {
    font-size: 1em;
    color: grey;
  }
  
  .generate-workout-button {
    margin-top: 20px;
    background-color: #3499CD;
    color: white;
  }
  
  .fullscreen-modal {
    --height: 100%;
    --width: 100%;
    --border-radius: 0;
  }
  
  .modal-content {
    padding: 20px;
    background-color: white;
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .modal-content ion-item {
    margin-bottom: 15px;
  }
  
  .modal-content ion-button {
    margin-top: 10px;
  }
  
  
  .workout-item {
    background-color: #E4EDF1;
    padding: 15px;
    margin: 10px 0;
    border-radius: 15px; /* Makes the rectangle edges rounded */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds a slight shadow for better separation */
  }
  
  .edit-button {
    background-color: #e0e0e0;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto; /* Aligns the button to the right */
  }

  .item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    --color: initial;
    display: block;
    color: var(--color);
    font-family: var(--ion-font-family, inherit);
    font-size: larger;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.custom-ion-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.custom-label {
  font-size: 18px;
  margin-bottom: 5px;
  padding:8%;
}

.custom-input,
.custom-select {
  width: 100%;
  padding: 2%;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.custom-input:focus,
.custom-select:focus {
  outline: black;
  border-color: #3499cd;
}

.custom-card {
  width: auto; /* Remove fixed width */
  min-height: 109px; /* Keep a minimum height */
  background-color: #E4EDF1;
  border-radius: 8px;
  padding: 10px;
  margin: 10px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.custom-card-title {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px; /* Add some space below the title */
}

.custom-add-button {
  background-color: #DEF8CA;
  font-size: 16px;
  margin-top: 10px; /* Add some space above the button */
  align-self: flex-end;
  border-radius: 10%;
  width: 80px;
  height: 35px;
  border-width: thick;
  border-color: #549E6A;
  color: #549E6A;
  border-width: 2px; /* Example: setting border-width to 2 pixels */
  border-style: solid; 
}

.custom-card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}


.native-input.sc-ion-input-md {
  color: black;
}

.remove-button {
  background-color: #284468; /* Red background */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.remove-button:hover {
  background-color: #284468; /* Darker red on hover */
}