.gradient-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust layout */
    padding: 10px 20px;
    background-image: linear-gradient(to right, 
      #3499CD 0%, 
      #3485CD 29%, 
      #354DCD 59%, 
      #26256C 100%);
  }
  
  
  .close-button {
    font-size: 24px;
    color: white;
    border: none;
    background: none;
    cursor: pointer;
  }
  

.logo {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

